<!-- Section de Ação de Vendas -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Seu sucesso é o nosso sucesso!</h2>
          <p>Queremos que você tenha a melhor experiência digital, alcance o seu público sem medo.</p>
          <p>Iremos te ajudar a alcançar o sucesso nas vendas, geraremos juntos maior tráfego em seus conteúdos digitais.</p>
          <a class="btn btn-default btn-call-to-action wow infinite pulse" href="{{ site.url }}/contato" >>> Quero Um Site <<</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Você prescisa alcançar maior público e gerar tráfego. NÃO PERCA TEMPO!</h2>
          <p>Iremos te ajudar a alcançar o sucesso nas vendas, geraremos juntos maior tráfego em seus conteúdos digitais.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.url }}/contato" >>> QUERO FAZER MEU SITE AGORA! <<</a>
        </div>
      </div>
    </div>
  </div>
</section>
 -->
