<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.url }}/sobre">Sobre nós</a></li>
            <li><a href="{{ site.url }}/contato">Contato</a></li>
            <li><a href="{{ site.url }}/orcamento">Orçamento</a></li>
            <li><a href="{{ site.url }}/blog">Blog</a></li>
            <li><a href="{{ site.url }}/termos">Termos</a></li>
          </ul>
        </div>
        <p><a href="{{ site.url }}">2017 - DigitalUP</a> Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
